// - - -
// FRONT-END CSS
// - - -

.header-title {
  border-bottom: 1px solid black;
}

.products-box {
  display: flex;
  justify-content: center;

  .products-box-items {
    margin-bottom: 50px;
  }
}
