    <section class="container text-center">

        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">A vegan donut, a homemade marmelade - or both?</h1>
                    <p class="lead text-muted">Our store is open 24 hours a day for them to enrich you with our products.</p>
            </div>
        </div>

    </section>

    <section class="text-center container">

        <div class="row products">

            <div class="col-lg-4">



            </div>

            <div class="col-lg-4">



            </div>

            <div class="col-lg-4">



            </div>
           
        </div>
        
    </section>