<!-- SHOP HEADER SECTION -->
<section class="container text-center header-title">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Take a look at our products</h1>
                <p class="lead text-muted">A vegan donut or a homemade marmalade? Our store is open 24 hours a day to enrich you with our products.</p>
        </div>
    </div>

</section>

<!-- SHOP BODY SECTION -->
<section class="container text-center x-10 pt-5 pb-5">

    <div class="row products">

        <div *ngFor="let item of items" class="col-md-4" >

            <app-shop-item
                id="{{ item.id }}"
                imageUrl="{{ item.imageUrl }}" 
                subTitle="{{ item.subTitle }}" 
                title="{{ item.title }}" 
                price="{{ item.price }}"
            ></app-shop-item>

        </div>
        
    </div>
    
</section>