<!-- BASKET HEADER SECTION -->
<section>
    <div class="container">

        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8">
                <h2 *ngIf="basketQuantity" class="fw-light">Your basket</h2>
            </div>
        </div>

    </div>
</section>

<!-- BASKET CONTENT SECTION -->
<section>
    <div *ngIf="!basketQuantity" class="container text-center lead text-muted" style="font-size:24px">- Your basket is empty -</div>

    <div *ngIf="basketQuantity" class="container pb-5">

        <div *ngFor="let basketItem of basket.items" class="row product-list">
            <div class="col product-list-item">

                <div class="col-1 product-list-item-quantity">
                    <button class="product-list-item-quantity-button" (click)="reduceFromBasket(basketItem.productId)">-</button>
                    <span>{{ basketItem.quantity }}</span>
                    <button class="product-list-item-quantity-button" (click)="addToBasket(basketItem.productId)">+</button>
                </div>

                <div class="col-9 product-list-item-info">
                    <div class="product-list-item-info-image" >
                        <img src="{{ basketItem.imageUrl }}">
                    </div>
                    <div class="product-list-item-info-name">{{ basketItem.name }}</div>
                </div>

                <div class="col-1 product-list-item-delete">
                    <button class="product-list-item-delete-button" (click)="removeFromBasket(basketItem.productId)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                
                <div class="col-1 product-list-item-price">{{ basketItem.price * basketItem.quantity | currency:'EUR':true }}</div>

            </div>
        </div>

        <div class="row product-list-checkout">

            <div class="col product-list-checkout-box">

                <div class="col-9 product-list-checkout-box-coupon">
                    <div class="product-list-checkout-box-coupon-info">Discount code (optional):</div>
                    <div class="product-list-checkout-box-coupon-input">
                        <div class="product-list-checkout-box-coupon-input-field"><input [(ngModel)]="discountCode"></div>
                        <div class="product-list-checkout-box-coupon-input-button">
                            <button class="product-list-checkout-box-coupon-add-button-style" (click)="addCoupon()">Ok</button>
                            <span *ngIf="basket.discountCode" class="product-list-checkout-box-coupon-input-info">Code "{{ basket.discountCode }}" applied!</span>
                            <button *ngIf="basket.discountCode" class="product-list-checkout-box-coupon-remove-button-style" (click)="removeCoupon()">[Remove]</button>
                        </div>
                    </div>
                </div>

                <div class="col-3 product-list-checkout-box-order">
                    <div class="product-list-checkout-box-quantity">Total ({{ basketQuantity }} <span>{{ basketQuantity <= 1  ? 'product' : 'products' }}</span>):</div>
                    <div class="product-list-checkout-box-totalprice">{{ totalPrice | currency:'EUR':true }}</div>
                </div>

            </div>
        </div>

    </div>
</section>