// - - -
// FRONT-END CSS
// - - -

// HEADER CSS

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(196, 119, 132);

  .navbar-box {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .navbar-box-left {
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav-link-box {
        display: flex;
        flex-direction: row;
        margin-left: 30px;

        .nav-link {
          color: white;
          font-size: 14px;
        }
      }
    }

    .navbar-box-right {
      display: flex;
    }

    .navbar-toggler {
      border: 0px;
    }
  }
}

// HEADER COLLAPSE MENU CSS

.collapse-menu-title {
  color: white;
}

// INFO-BOX CSS

.top-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: rgba(104, 104, 104, 0.242);
  font-size: 12px;
}

// BUTTON CSS

.btn-basket {
  color: white;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

// - - -
// MEDIA SCREEN CSS
// - - -

// MEDIA: LARGE SCREEN
// Large devices (desktops, 992px and up)

@media screen and (max-width: 992px) {
  .top-info-text {
    width: 80%;
  }

  .collapse-box {
    width: 80%;
  }
}

// MEDIA: MEDIUM SCREEN
// Medium devices (tablets, 768px and up)

@media screen and (max-width: 768px) {
  .navbar-box {
    width: 90%;
  }

  .top-info-box {
    height: 45px;
  }

  .top-info-text {
    margin-left: 25px;
    margin-right: 25px;
  }

  .collapse-box {
    width: 100%;
  }
}

// MEDIA: SMALL SCREEN
// Small devices (landscape phones, 576px and up)

@media screen and (max-width: 576px) {
  .navbar .navbar-box {
    width: 100%;
  }

  .navbar .navbar-box .navbar-box-left .nav-link-box {
    margin-left: 0px;
  }
}
