<!-- Navbar burger menu -->
<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="collapse-menu-title">About</h4>
          <p class="text-muted">Lady Maramalade got founded is 2021 and focuses on producing home made marmalade and vegan donuts.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="collapse-menu-title">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-muted">Follow us on Twitter</a></li>
            <li><a href="#" class="text-muted">Follow us on Instagram</a></li>
            <li><a href="#" class="text-muted">Email us</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

<!-- Header Navbar -->
<div class="navbar sticky-top navbar-dark shadow-sm">
    <div class="container">
      <div class="d-flex align-items-center">
      
        <a class="navbar-brand" [routerLink]="['/']">
          <strong>Lady Marmalade</strong>
        </a>
        
        <div class="nav-link-box">
        <a class="nav-link" [routerLink]="['/']">Home</a>
        <a class="nav-link" [routerLink]="['/shop']">Shop</a>
        <a class="nav-link" [routerLink]="['/review']">Reviews</a>
        <a class="nav-link" [routerLink]="['/about']">About</a>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" (click)="getBackToTop()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</div>

<div class="top-info-box">
    <div class="text-center top-info-text">
      <a>With the purchase of any Lady Marmelade product, 10 percent of sales will be donated directly to the GlobalGiving Coronavirus Relief Fund.</a>
    </div>
</div>

<!-- <div class="container-fluide top-info-box">
  <div class="container">
    <div class="text-center top-info-text">
      <a>With the purchase of any Lady Marmelade product, 10 percent of sales will be donated directly to the GlobalGiving Coronavirus Relief Fund.</a>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluide d-flex p-2 top-info">
  <div class="container">
    <div class="text-center top-info-text">
      <a>With the purchase of any Lady Marmelade product, 10 percent of sales will be donated directly to the GlobalGiving Coronavirus Relief Fund.</a>
    </div>
  </div>
</div> -->