  <!-- REVIEW HEADER SECTION -->
  <section class="container text-center">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">You want to get rid of something?</h1>
                <p class="lead text-muted">We welcome your feedback to help us continuously improve and make the world aware of our products.</p>
                <button class="btn btn-outline-secondary share" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Share us your review!</button>
        </div>
    </div>

  </section>

  <!-- REVIEW MODAL SECTION -->
  <section>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
     
      <div class="modal-dialog modal-lg">

        <div class="modal-content">

          <div class="modal-header modal-background-header">

            <strong class="navbar-brand modal-background-header">Share us your review!</strong>
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         
          </div>
          
          <div class="modal-body modal-background-body">

            <!-- Modal content -->
            <form class="row g-2" [formGroup]="reviewForm">

              <div class="modal-input">

                <!-- Modal input name -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <label>Name:</label>
                  <input formControlName="name" class="form-control modal-name-input-margin" maxlength="12" placeholder="What is your name?">
                  <!-- <label *ngIf="reviewForm.controls['name'].invalid">Name is required!</label> -->
                </div>

                <!-- Modal input textarea -->
                <div class="col-md-12">
                  <label>Review:</label>
                  <textarea formControlName="text" class="form-control" maxlength="2000" rows="10" cols="80" placeholder="Feel free to share your review with us!"></textarea>
                  <!-- <label *ngIf="reviewForm.controls['text'].invalid">Review is required!</label> -->
                </div>

                <!-- Modal input rating -->
                <div class="col text-center">
                  <ngb-rating formControlName="rating" class="modal-rating" [max]="5"></ngb-rating>
                  <!-- <label *ngIf="reviewForm.controls['rating'].invalid">Rating is required!</label> -->
                </div>

              </div>

              <!-- Modal buttons -->
              <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-secondary modal-share-button" data-bs-dismiss="modal" (click)="addReview()" [disabled]="reviewForm.invalid">Share!</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
    
  </section>

  <!-- REVIEW INPUT SECTION -->
  <section class="container">

    <div *ngFor="let review of reviews" class="row reviews-box">

        <div class="col-lg-2">
          
            <div class="reviews-details">
              
              <span>
                Author: {{ review.name }}<br>
                Rating: {{ review.rating }} Stars<br>
                Date: {{ review.date }}
              </span>
              
            </div>

        </div>
          
        <div class="col-lg-7">
            
          <div class="reviews-text">
              
            <p>{{ review.text }}</p>
            
          </div>
            
        </div>

    </div>

    <div class="row reviews-box">

      <div class="col-lg-2">
        
          <div class="reviews-details">
            
            <span>
              Author: Harry<br>
              Rating: 5 Stars<br>
              Date: March 25th, 2021
            </span>
            
          </div>

      </div>
        
      <div class="col-lg-7">
          
        <div class="reviews">
            
          <p>Schmeckt sehr gut. Jedoch kann man bemängeln, dass jedes mal das selbe Essen geliefert wird, obwohl man etwas anderes bestellt.</p>
          
        </div>
          
      </div>

    </div>

  </section>