// - - -
// FRONT-END CSS
// - - -

.header-title {
  border-bottom: 1px solid black;
}

button.share:hover {
  background-color: rgb(196, 119, 132);
  border-color: rgb(196, 119, 132);
}

.reviews-direction {
  display: flex;
  flex-direction: column-reverse;
}

.reviews-box {
  justify-content: center;
  text-align: justify;
  margin-bottom: 35px;

  .reviews-details {
    background-color: rgba(104, 104, 104, 0.242);
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
  }

  .reviews-text {
    word-wrap: break-word;
  }
}

// MEDIA: LARGE SCREEN
@media screen and (max-width: 1199px) {
  .reviews-text {
    margin-left: 30px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 25px;
  }
  .reviews-text {
    margin-top: 0px;
    margin-left: 0px;
  }
  .reviews-box {
    margin-bottom: 10px;
  }
}

// - - -
// BACKGROUND CSS
// - - -

// MODAL CSS

.modal-background-body {
  background-color: antiquewhite;
}

.modal-background-header {
  color: white;
  background-color: rgb(196, 119, 132);
}

.modal-name-input-margin {
  margin-bottom: 10px;
}

.modal-share-button {
  background-color: rgb(196, 119, 132);
  border-color: rgb(196, 119, 132);
}

.modal-rating {
  color: #ffc107;
  font-size: 35px;
}

// MODAL INVALID/VALID FOR INPUT AND TEXTAREA

input.ng-invalid {
  border-left: 5px solid red;
}

input.ng-valid {
  border-left: 5px solid rgb(1, 196, 1);
}

textarea.ng-invalid {
  border-left: 5px solid red;
}

textarea.ng-valid {
  border-left: 5px solid rgb(1, 196, 1);
}
