<!-- ABOUT HEADER SECTION -->
<section class="container text-center">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Further information about Lady Marmalade</h1>
                <p class="lead text-muted">Legal notice & Terms of Service</p>
        </div>
    </div>

    <div class="container pb-5">

        <div class="row policy">

            <div class="col policy-notice">
                <div class="policy-notice-title lead text-muted">Legal notice:</div>
                <div class="policy-notice-text">
                Lady Marmalade GmbH<br>
                Max Mustermann Allee 20a<br>
                13349 Berlin<br>

                Tel. (030) 1234567<br>
                E-Mail: info@ladymarmalade.de<br><br>
                </div>
            </div>

            <div class="col policy-notice">
                <div class="policy-notice-title lead text-muted">Terms of Service:</div>
                <div class="policy-notice-text">
                    A business organization needs a terms of service agreement on its site while making sure it is also included within customer contracts. It's important to make this link and show it to customers so that they understand everything clearly.<br><br>

                    It is also very important to include an additional step where customers can confirm that they've read and that they agree with your terms of service.<br>
                    
                    Additionally, for all organizations that offer services or products online, no matter where they are located, it's important that their terms of service are compliant with E-commerce Regulations and Consumer Information Regulations.<br><br>
                    
                    On top of that, you should make sure to check the Sale of Goods and Supply of Services Act of 1980 to avoid any legal difficulties and ensure the safety of your business.<br><br>
                    
                    When it comes to Australia, for example, websites are not allowed to misrepresent themselves. The information located on a site should not be deceptive or misleading in any way when talking about services or products. This is how a website can comply with consumer law in Australia.<br><br>
                    
                    There have been a few cases where the law sided with the customers because the terms of service page was simply too large and the court decided that it was very unlikely that anyone would have the time or patience to read the whole thing.<br><br>
                    
                    A different case where terms of service were questioned is where a major retailer didn't put them in a visible spot. This is also very important to keep in mind when placing a terms of service section.
                </div>
            </div>
            
        </div>

    </div>

</section>