<!-- PRODUCT CARD -->
<div class="product-card">

    <div class="product-card-image">
        <img src="{{ imageUrl }}">
    </div>
    <div class="product-card-content">
        <div class="product-card-info">
            <span class="text-muted">{{ subTitle }}</span>
        </div>
        <div class="product-card-title">
            <h4>{{ title }}</h4>
        </div>
        <div class="product-card-footer">
            <div class="product-card-footer-price">
                <span>{{ price }} Euro</span>
            </div>
            <div class="product-card-footer-button">
                <button class="product-card-button-style">-</button>
                <button class="product-card-button-style" (click)="addToBasket()">+</button>
            </div>
        </div>
    </div>

</div>